#cards {
    width: 100vw;
    padding: 0 10vw;
    position: absolute;
    top: 60vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
    justify-content: center;
}

.card {
    width: 12vw;
    height: 35vh;
    background-color: rgb(128, 128, 128);
    border-radius: 2vh;
}