body {
    margin: 0;
    padding: 0;

    background-image: url('./../Assets/ImgPrincipal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#informacoes {
    width: 30vw;
    height: 60vh;

    position: absolute;
    top: 22vh;
    left: 5vw;

    background-color: rgba(64, 170, 231, 0);
}


.Carrossel {
    z-index: -1;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 300vw;
    height: 100vh;

    background-color: rgba(112, 30, 30, 0);
    animation: slideAnim 300s infinite;
}

.slide {
    width: 100vw;
    height: 100vh;
}

@keyframes slideAnim {
    0% {
        left: 0;
    }

    100% {
        left: -200vw;
    }
}

@media (max-width: 1559px) {

    #imagem-principal {
        width: 90vw;
        height: 90vh;

        position: absolute;
        top: 20vh;
        left: 4vh;
    }

    .wrapper {
        position: absolute;
        left: 108vh;
    }
}

@media (max-width: 820px) {

    #imagem-principal {
        width: 260vw;
        height: 80vh;

        position: absolute;
        top: 20vh;
        left: -24vh;
    }

    #informacoes {
        width: 60vw;
        height: 100vh;

        position: absolute;
        top: 22vh;
        left: 5vw;
    }

    .texto-main h1 {
        font-size: 7vh;
    }

    .texto-main h2 {
        font-size: 7vh;

        position: absolute;
        top: 6vh;
    }

    .texto-main h6 {
        font-size: 4vh;
        color: rgb(0, 0, 0);
        text-shadow:
            1px 1px 2px black,
            0 0 1em rgb(255, 255, 255),
            0 0 0.2em rgb(255, 255, 255);
        color: rgb(26, 26, 26);
    }
}



@media (max-width: 482px) {

    #imagem-principal {
        width: 260vw;
        height: 80vh;

        position: absolute;
        top: 20vh;
        left: -24vh;
    }

    #informacoes {
        width: 60vw;
        height: 100vh;

        position: absolute;
        top: 22vh;
        left: 5vw;
    }

    .texto-main h1 {
        font-size: 7vh;
    }

    .texto-main h2 {
        font-size: 7vh;

        position: absolute;
        top: 6vh;
    }

    .texto-main h6 {
        font-size: 4vh;
        color: rgb(0, 0, 0);
        text-shadow:
            1px 1px 2px black,
            0 0 1em rgb(255, 255, 255),
            0 0 0.2em rgb(255, 255, 255);
        color: rgb(26, 26, 26);
    }
}

.footer {
    background-color: rgba(0, 0, 255, 0);
    height: 6.5vh;
    width: 100%;
    bottom: 4.75vh;
}

.left {
    background-color: rgba(255, 255, 0, 0);
    height: 6.5vh;
    width: 6.5vh;
    margin-left: 6.45vh;
    position: absolute;
    border-radius: 20vh;
}

.left {
    background-image: url('../Assets/btn1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    background-color: rgba(255, 255, 0, 0);
    height: 6.5vh;
    width: 61vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    background-color: rgba(0, 255, 51, 0);
    height: 6.5vh;
    width: 14.7vh;
    right: 6.45vh;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toolbarbt2,
.Toolbarbt3 {
    background-color: rgba(255, 255, 0, 0);
    height: 6.5vh;
    width: 6.5vh;
    border-radius: 20vh;
}

.tab1,
.search,
.home,
.projetos,
.formacao {
    background-color: rgba(255, 255, 255, 0);
    height: 5vh;
    position: relative;
    border-radius: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.center {
    background-image: url('../Assets/centerbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tab1,
.search {
    width: 8vh;
}

.tab1 {
    margin-left: 1vh;
}

.tabimg,
.searchimg {
    width: 8vh;
}

.home {
    width: 12vh;
}

.homeimg {
    width: 12vh;
}

.projetos {
    width: 13vh;
}

.projetosimg {
    width: 16vh;
}

.formacao {
    width: 13vh;
}

.formacaoimg {
    width: 10vh;
    margin-top: 0.4vh;
}

.search {
    margin-right: 1vh;
}