@import url(./reset.css);
@import url(./header.css);
@import url(./banner.css);
@import url(./cards.css);

body {
    position: relative;
    overflow: auto;
}

.main_espaco{
    width: 2vw;
    height: 20vw;
    background-color: rgba(128, 0, 128, 0);
}